################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebVot/.vs/WebVot/FileContentIndex/777b3447-5e97-4668-84e7-f809c47f9f40.vsidx
