################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebVot/.vs/WebVot/FileContentIndex/777b3447-5e97-4668-84e7-f809c47f9f40.vsidx
/WebVot/.vs/WebVot/FileContentIndex/04c09bed-dec4-4f1a-b434-95d1e7f7c080.vsidx
/WebVot/.vs/WebVot/FileContentIndex/f07a5d67-9d01-4902-b1b0-79838aec8bb1.vsidx
